{% extends 'base_project.html' %}
{% block menu %}
{#    <a href="{% url 'project_delete' project.pk %}">#}
{#        <button type="button" class="btn btn-warning" style="margin-left: 10px">Удалить</button>#}
{#    </a>#}
{#    <a href="{% url 'project_update' project.pk %}">#}
{#        <button type="button" style="margin-left: 10px" class="btn btn-warning">Редактировать</button>#}
{#    </a>#}
{% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">{{ project.name }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ project.description }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{% url 'project_index' %}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Вернуться назад</button></a>
      </div>
    </div>
  </div>
{% endblock %}